body{
    background-color: #f8f3ee;

}

.first{
    width: 300px;
    height: 450px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.743);
    background-color: #ddd5ca;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-weight: bold;
    margin-left: 20px;
    line-height: 1px;
    color: #6D4722;
}




.fotoprofil{
    float: left;
    margin-left: 15px;
    margin-bottom: 30px;
}


.second{
    width: 235px;
    height: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.743);
    background-color: #f8f3ee;
    
}

.menu{
    margin-left: -15px;
    margin-top: -10px
}

.third{
    width: 235px;
    height: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.743);
    background-color: #f8f3ee;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    text-align: center;
    float: right;
    margin-right: 293px;
    margin-top: -3px;
    color: #6D4722;
}

td{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    color: #6D4722;
 }

 table{
    width: 480px;
    height: 450px;
    border-radius: 10px;
    background-color: #ddd5ca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.743);
    float: right;
    margin-right: 240px;
    margin-top: -390px;
    margin-bottom: 30px;
 }

 
 